{% extends 'layout.html'%}

{% block body %}

<div class="container">
    <h1>Visualization</h1>
    <div class="row">
      <div class="col-sm">
        <h3>Feature Importance</h3>
        <div class="chart mt-1" id="dist-type1">

        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-sm">
        <h3>Euribor Distribution</h3>
        <div class="chart mt-1" id="dist-type2">

        </div>
      </div>
      <div class="col-sm">
        <h3>Default Distribution</h3>
        <div class="chart mt-1" id="dist-type3">

        </div>
      </div>
    </div>
  </div>

  <script>
      var dist_type1 = {{data1 | safe}}
      var dist_type2 = {{data2 | safe}}
      var dist_type3 = {{data3 | safe}}
      Plotly.plot('dist-type1', dist_type1,{})
      Plotly.plot('dist-type2', dist_type2,{})
      Plotly.plot('dist-type3', dist_type3,{})
  </script>

{% endblock body %}